@charset "utf-8";

/*reset*/

body {
    font-family: "微软雅黑";
}

body,
h1,
h2,
h3,
figure,
p,
dl,
dd {
    margin: 0;
    font-weight: normal;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
}

strong {
    font-weight: normal;
}

input {
    padding: 0;
    margin: 0;
    outline: none;
}

img {
    border: none;
    vertical-align: top;
}

.clearFix:after {
    content: "";
    display: block;
    clear: both;
}

.clearFix {
    zoom: 1;
}